[Unit]
Description=Lighthouse Consensus Client VC
Wants=network-online.target
After=network-online.target

[Service]
User=lighthousevalidator
Group=lighthousevalidator
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/lighthouse vc \
  --network goerli \
  --datadir /var/lib/lighthouse \
  --suggested-fee-recipient 0xe81a5054567C95db393751AC6194F925eDb8B3c0 \
  --graffiti "Erdos"

[Install]
WantedBy=multi-user.target